[Desktop Entry]
Type=Application
Name=Pebrel Preview
GenericName=Terminal Emulator
Comment=GPU-accelerated terminal for local and remote workflows
Exec=pebrel %f
MimeType=inode/directory;
Icon=io.github.kuddev.pebrel.preview
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;prompt;ssh;
StartupNotify=true
StartupWMClass=Pebrel
